<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.co.gorest.grblcontroller">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <application
        android:name=".GrblController"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="false"
            android:theme="@style/SplashTheme"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"
                tools:targetApi="n" />
        </activity>
        <activity
            android:name=".BluetoothConnectionActivity"
            android:label="@string/app_name"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="false"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="n" />
        <activity
            android:name=".UsbConnectionActivity"
            android:label="@string/app_name"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="false"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="n" />
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Select Paired Device"
            android:resizeableActivity="false"
            android:supportsPictureInPicture="false"
            android:theme="@android:style/Theme.Material.Light.Dialog"
            tools:targetApi="n" />
        <activity
            android:name=".SettingsActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="false"
            tools:targetApi="n" />
        <activity
            android:name=".AboutActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="false"
            tools:targetApi="n" />

        <activity android:name=".NotificationArchiveActivity" />

        <service
            android:name=".service.GrblUsbSerialService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.GrblBluetoothSerialService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.FileStreamerIntentService"
            android:exported="false" />
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6d7003aa8ac3717a95dc5c77c2da4bf5ad8c74ff" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data android:name="DATABASE" android:value="grblcontroller.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="in.co.gorest.grblcontroller.model" />

    </application>

</manifest>